@import "../../_variables.scss";
.UserItem {
    text-align: left;
    border-bottom: 1px solid #bbbbbb;
    padding:8px 20px!important;
    .UserName{
    	font-style: italic;
    	font-size: 1.2em;
    	color:$primary-color;
    }
    .UserIcon {
        margin-right: 7px;
        vertical-align: bottom;
    	color:$primary-color!important;
    }
}